@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #586E8E;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.form__line {
  position: relative;
}

.form__error {
  color: red;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -110%;
  left: 2.375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.6875rem 2.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  border-radius: 2.375rem;
  background-color: #599BFF;
  color: #FFFFFF;
  border: 0.0625rem solid #599BFF;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button._fw {
  width: 100%;
}

.button_black {
  background-color: #000000;
  border: 0.0625rem solid #000000;
}

.button_invert-black {
  border: 0.0625rem solid #000000;
  color: #000000;
  background-color: transparent;
}

.button_invert-white {
  border: 0.0625rem solid #FFFFFF;
  color: #000000;
  background-color: #FFFFFF;
}

.button_invert-blue {
  border: 0.0625rem solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}

.button_top {
  position: fixed;
  z-index: 10;
  background-color: rgba(105, 165, 255, 0.3);
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.125rem 0.5rem 0.75rem -0.4375rem rgba(0, 0, 0, 0.08);
          box-shadow: 0.125rem 0.5rem 0.75rem -0.4375rem rgba(0, 0, 0, 0.08);
  bottom: 1.25rem;
  right: 1.25rem;
  display: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.button_top img {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 2.375rem;
  -webkit-box-shadow: 0.125rem 0.5rem 0.75rem -0.4375rem rgba(0, 0, 0, 0.08);
          box-shadow: 0.125rem 0.5rem 0.75rem -0.4375rem rgba(0, 0, 0, 0.08);
  width: 100%;
  display: block;
  padding: 0.9375rem 2.375rem;
}

.input._form-focus {
  outline: 0.0625rem solid #599BFF;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.9285714286;
  color: #A9BFDF;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.9285714286;
  color: #A9BFDF;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.9285714286;
  color: #A9BFDF;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.9285714286;
  color: #A9BFDF;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.9285714286;
  color: #A9BFDF;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 3.75rem 1.25rem 1.25rem 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 2.375rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  fill: #17253A;
}

.popup__button {
  width: 1.25rem;
  height: 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  background-color: #F9F9F9;
}

.logo-block {
  position: relative;
  z-index: 10;
  width: 11.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.0625rem;
     -moz-column-gap: 1.0625rem;
          column-gap: 1.0625rem;
}

.logo-block_footer {
  width: 14.875rem;
  height: 5.5625rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.logo-block_footer .logo-block__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 5.5625rem;
}

.logo-block_footer .logo-block__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.375rem;
          flex: 0 0 8.375rem;
  fill: #FFFFFF;
}

.logo-block__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.6875rem;
          flex: 0 0 3.6875rem;
  height: 4.0625rem;
}

.logo-block__logo img {
  max-width: 100%;
}

.logo-block__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.375rem;
          flex: 0 0 6.375rem;
  height: 1.6875rem;
  fill: #17253A;
}

.title {
  font-family: "Raleway";
  color: #17253A;
  font-weight: 800;
  line-height: 1.375;
}

.title_main {
  line-height: 1.3333333333;
}

.title_small {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.4230769231;
  color: #000000;
}

.title_white {
  color: #FFFFFF;
}

.text {
  line-height: 2.2666666667;
}

.label {
  font-size: 0.875rem;
  line-height: 1.3571428571;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #94ADD5;
}

.header {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header.header-back {
  background-color: rgba(249, 249, 249, 0.7);
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.header__logo-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.125rem;
          flex: 0 0 11.125rem;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.menu {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125;
  text-transform: capitalize;
  color: #17253A;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  background-color: #17253A;
  bottom: -0.25rem;
  left: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #2E3146;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.875rem;
          flex: 0 0 14.875rem;
}

.footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__info {
  color: #FFFFFF;
  text-align: right;
  font-weight: 500;
}

.footer__info:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer__policy {
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: capitalize;
}

.footer__policy:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.footer__policy li {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
}

.social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
}

.social__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: transparent;
  stroke: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hero {
  padding-top: 10rem;
  position: relative;
}

.hero::after {
  content: "";
  background: url("../img/decor/decor2.svg") 0 0 no-repeat;
  position: absolute;
  width: 56.1875rem;
  height: 43.8125rem;
  top: -18%;
  right: -10%;
}

.hero__container {
  position: relative;
}

.hero__container::before,
.hero__container::after {
  content: "";
  position: absolute;
}

.hero__container::before {
  background: url("../img/decor/decor1.svg") 0 0 no-repeat;
  width: 25.9375rem;
  height: 25.25rem;
  left: -25%;
  bottom: 5%;
}

.hero__container::after {
  background: url("../img/decor/decor5.svg") 0 0 no-repeat;
  width: 20.75rem;
  height: 20.1875rem;
  top: -35%;
  right: -21%;
}

.hero__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__body::after {
  content: "";
  position: absolute;
  background: url("../img/decor/arrow.svg") 0 0 no-repeat;
  width: 0.5rem;
  height: 2.9375rem;
  left: 16%;
  bottom: 8%;
  -webkit-animation: arrows 1s linear infinite alternate;
          animation: arrows 1s linear infinite alternate;
}

.hero__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding-top: 4.0625rem;
}

.hero__content::before,
.hero__content::after {
  content: "";
  position: absolute;
  background: url("../img/decor/arrow.svg") 0 0 no-repeat;
  width: 0.5rem;
  height: 2.9375rem;
  bottom: 8%;
}

.hero__content::before {
  left: 42%;
  -webkit-animation: arrows 1s linear 0.3s infinite alternate;
          animation: arrows 1s linear 0.3s infinite alternate;
}

.hero__content::after {
  left: 50%;
  -webkit-animation: arrows 1s linear 0.6s infinite alternate;
          animation: arrows 1s linear 0.6s infinite alternate;
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.9375rem;
     -moz-column-gap: 1.9375rem;
          column-gap: 1.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.5rem;
}

.hero__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.hero__image img {
  max-width: 100%;
}

@-webkit-keyframes arrows {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@keyframes arrows {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

.about-us {
  position: relative;
  z-index: 10;
  background: url("../img/decor/decor3.svg") top center/cover no-repeat;
}

.about-us__body {
  background-color: #E9EFF9;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.about-us__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

.about-us__image img {
  max-width: 100%;
}

.about-us__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  padding-top: 2rem;
}

.about-us__label:not(:last-child) {
  margin-bottom: 0.875rem;
}

.about-us__title:not(:last-child) {
  margin-bottom: 2.25rem;
}

.about-us__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.about-us__button:not(:last-child) {
  margin-bottom: 0.875rem;
}

.services__container {
  position: relative;
}

.services__container::before,
.services__container::after {
  content: "";
  position: absolute;
  background: url("../img/decor/decor5.svg") 0 0 no-repeat;
}

.services__container::before {
  width: 18.875rem;
  height: 18.375rem;
  top: 6%;
  left: -23%;
}

.services__container::after {
  width: 25.9375rem;
  height: 25.1875rem;
  top: 13%;
  right: -24%;
}

.services__body {
  position: relative;
  z-index: 10;
}

.services__header {
  text-align: center;
}

.services__header:not(:last-child) {
  margin-bottom: 6.25rem;
}

.services__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.services__title:not(:last-child) {
  margin-bottom: 1.375rem;
}

.services__text {
  max-width: 45.25rem;
  margin: 0 auto;
}

.services__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
  row-gap: 4.5rem;
}

.card-services {
  display: block;
  min-height: 100%;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0.125rem 0.5rem 1.9375rem -0.625rem rgba(0, 0, 0, 0.05);
          box-shadow: 0.125rem 0.5rem 1.9375rem -0.625rem rgba(0, 0, 0, 0.05);
  border-radius: 1.375rem;
  padding: 5.3125rem 1.6875rem 2.1875rem 1.6875rem;
  text-align: center;
}

.card-services__icon {
  position: absolute;
  width: 6.0625rem;
  height: 6.0625rem;
  border-radius: 50%;
  background-color: #2C6AC6;
  top: -2rem;
  left: calc(50% - 3.03125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0rem 0rem 1.25rem 0.25rem rgba(44, 106, 198, 0.35);
          box-shadow: 0rem 0rem 1.25rem 0.25rem rgba(44, 106, 198, 0.35);
  -webkit-animation: icons 1s ease infinite alternate;
          animation: icons 1s ease infinite alternate;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.card-services__pic {
  width: 2.8125rem;
  height: 2.8125rem;
  fill: #FFFFFF;
}

.card-services__title:not(:last-child) {
  margin-bottom: 1rem;
}

.card-services__text {
  line-height: 1.6666666667;
}

@-webkit-keyframes icons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes icons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.solution {
  background: url("../img/decor/decor6.svg") top center/cover no-repeat;
}

.solution__body {
  background-color: #EFF2F9;
}

.solution__header {
  text-align: center;
}

.solution__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.solution__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.solution__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
  row-gap: 3.75rem;
}

.item-solution {
  min-height: 100%;
  background-color: #FFFFFF;
  border-radius: 1.6875rem;
  padding: 3.4375rem;
}

.item-solution__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
}

.item-solution__header:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-solution__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.8125rem;
          flex: 0 0 4.8125rem;
  height: 4.8125rem;
  border-radius: 50%;
  background-color: #599BFF;
  -webkit-box-shadow: 0px 0px 1.25rem 0.25rem rgba(89, 155, 255, 0.35);
          box-shadow: 0px 0px 1.25rem 0.25rem rgba(89, 155, 255, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: icons 1s ease infinite alternate;
          animation: icons 1s ease infinite alternate;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.item-solution__pic {
  width: 1.8125rem;
  height: 1.8125rem;
  fill: #FFFFFF;
}

.item-solution__text {
  line-height: 1.9375;
}

.item-solution__text p {
  margin-bottom: 1.5625rem;
}

.item-solution__list {
  padding-left: 2.5rem;
}

.item-solution__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.item-solution__item:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.item-solution__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.6875rem;
          flex: 0 0 0.6875rem;
  height: 0.6875rem;
  background-color: #599BFF;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.goal__container {
  position: relative;
}

.goal__container::after {
  content: "";
  background: url("../img/decor/decor5.svg") 0 0 no-repeat;
  width: 22.1875rem;
  height: 21.5625rem;
  position: absolute;
  top: -25%;
  right: -21%;
}

.goal__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goal__content {
  padding-top: 1.5625rem;
  padding-bottom: 2.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 42%;
          flex: 1 0 42%;
}

.goal__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.goal__text:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.goal__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61%;
          flex: 0 1 61%;
  -webkit-transform: translateX(14%);
      -ms-transform: translateX(14%);
          transform: translateX(14%);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.goal__image img {
  max-width: 100%;
}

.offer {
  position: relative;
}

.no-webp .offer::after{
  background: url("../img/offer/decor3.png") 0 0 no-repeat; }

.offer::after {
  content: "";
  position: absolute;
  width: 8.0625rem;
  height: 8.0625rem;
  top: -15%;
  left: 20%;
}

.offer__container {
  background-color: #2C6AC6;
  border-radius: 2.25rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.offer__container::before,
.offer__container::after {
  content: "";
  position: absolute;
}

.no-webp .offer__container::before{
  background: url("../img/offer/decor1.png") 0 0 no-repeat; }

.offer__container::before {
  width: 11.4375rem;
  height: 21rem;
  bottom: -24%;
  left: 2%;
}

.no-webp .offer__container::after{
  background: url("../img/offer/decor2.png") 0 0 no-repeat; }

.offer__container::after {
  width: 5.3125rem;
  height: 13.125rem;
  bottom: 20%;
  right: 4%;
}

.offer__text {
  max-width: 47.875rem;
  margin: 0 auto;
  color: #FFFFFF;
}

.offer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.3125rem;
}

.contacts {
  position: relative;
  overflow: hidden;
}

.contacts::after {
  content: "";
  background: url("../img/decor/decor4.svg") 0 0/cover no-repeat;
  width: 56.1875rem;
  height: 43.875rem;
  position: absolute;
  bottom: -24%;
  right: -17%;
}

.contacts__container {
  position: relative;
}

.contacts__container::before {
  content: "";
  background: url("../img/decor/decor1.svg") 0 0/cover no-repeat;
  width: 20.3125rem;
  height: 19.75rem;
  position: absolute;
  top: 13%;
  left: -19%;
}

.contacts__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.contacts__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.contacts__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.contacts__text:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.contacts__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.125rem;
          flex: 0 0 27.125rem;
}

@media (min-width: 73.125em) {
  .menu__list {
    -webkit-column-gap: 5.375rem;
       -moz-column-gap: 5.375rem;
            column-gap: 5.375rem;
  }

  .contacts__body {
    -webkit-column-gap: 14.25rem;
       -moz-column-gap: 14.25rem;
            column-gap: 14.25rem;
  }
}

@media (min-width: 75em) {
  .title {
    font-size: 2rem;
  }

  .title_main {
    font-size: 2.25rem;
  }

  .footer {
    padding-top: 2.875rem;
  }

  .footer {
    padding-bottom: 2.875rem;
  }

  .hero {
    padding-bottom: 4.5rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .hero__actions:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .about-us {
    padding-top: 9.125rem;
  }

  .about-us__body {
    padding-bottom: 5.375rem;
  }

  .services {
    padding-top: 8rem;
  }

  .services {
    padding-bottom: 8.75rem;
  }

  .services__items {
    -webkit-column-gap: 6.5625rem;
       -moz-column-gap: 6.5625rem;
            column-gap: 6.5625rem;
  }

  .solution {
    padding-top: 8.75rem;
  }

  .solution__body {
    padding-bottom: 7.5rem;
  }

  .solution__header:not(:last-child) {
    margin-bottom: 4.25rem;
  }

  .solution__items {
    -webkit-column-gap: 5.5rem;
       -moz-column-gap: 5.5rem;
            column-gap: 5.5rem;
  }

  .item-solution__text {
    font-size: 1rem;
  }

  .goal {
    padding-top: 11rem;
  }

  .goal__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .offer__container {
    padding-top: 5rem;
  }

  .offer__container {
    padding-bottom: 4.75rem;
  }

  .offer__title:not(:last-child) {
    margin-bottom: 1.9375rem;
  }

  .offer__text:not(:last-child) {
    margin-bottom: 2.125rem;
  }

  .contacts__container {
    padding-top: 12.25rem;
  }

  .contacts__container {
    padding-bottom: 7.5rem;
  }
}

@media (max-width: 62em) {
  .contacts__body {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 25em) {
  .solution__items {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.125rem;
  }

  .title_main {
    font-size: 2.5rem;
  }

  .footer {
    padding-top: 3.8125rem;
  }

  .footer {
    padding-bottom: 4.5rem;
  }

  .hero {
    padding-bottom: 3rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 2.375rem;
  }

  .hero__actions:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .about-us {
    padding-top: 0.0000000625rem;
  }

  .about-us__body {
    padding-bottom: 4.25rem;
  }

  .services {
    padding-top: 4.1875rem;
  }

  .services {
    padding-bottom: 5.25rem;
  }

  .services__items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .solution {
    padding-top: 5.625rem;
  }

  .solution__body {
    padding-bottom: 5.5rem;
  }

  .solution__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .solution__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .item-solution__text {
    font-size: 1.0625rem;
  }

  .goal {
    padding-top: 4.1875rem;
  }

  .goal__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .offer__container {
    padding-top: 6.25rem;
  }

  .offer__container {
    padding-bottom: 14.5rem;
  }

  .offer__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .offer__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .contacts__container {
    padding-top: 4.875rem;
  }

  .contacts__container {
    padding-bottom: 4.8125rem;
  }
}

@media (max-width: 68.75em) {
  .contacts__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media (max-width: 62.5em) {
  .hero__body::after {
    bottom: -8%;
  }

  .hero__content::before,
  .hero__content::after {
    bottom: -8%;
  }

  .about-us__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .about-us__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    padding-top: 0;
  }
}

@media (max-width: 61.99875em) {
  .card-services__icon {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }

  .item-solution__icon {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }

  .item-solution__list {
    padding-left: 0;
  }

  .goal__content {
    padding-top: 0;
  }

  .goal__image {
    -webkit-transform: translateX(7%);
        -ms-transform: translateX(7%);
            transform: translateX(7%);
  }

  .offer::after {
    display: none;
  }

  .offer__container::after {
    bottom: -5%;
  }
}

@media (max-width: 55.625em) {
  .goal__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }

  .goal__content {
    padding-bottom: 0;
  }

  .goal__image {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 54.0625em) {
  .contacts__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.75rem;
            flex: 0 0 23.75rem;
  }
}

@media (max-width: 53.125em) {
  .hero__body::after {
    bottom: -12%;
  }

  .hero__content {
    padding-top: 0;
  }

  .hero__content::before,
  .hero__content::after {
    bottom: -12%;
  }
}

@media (max-width: 47.99875em) {
  .form__button {
    text-align: center;
  }

  .logo-block_footer .logo-block__name {
    display: block;
  }

  .logo-block__name {
    display: none;
  }

  .title {
    font-weight: 900;
  }

  .header.header-back {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }

  .menu {
    font-size: 2.25rem;
  }

  .menu__body {
    position: fixed;
    z-index: 7;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    padding: 6.875rem 1.25rem 2.5rem 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.8125rem;
    overflow: auto;
    background-color: #A9BFDF;
    border-radius: 0 0 2.375rem 2.375rem;
    -webkit-transition: top 0.8s ease 0s;
    -o-transition: top 0.8s ease 0s;
    transition: top 0.8s ease 0s;
  }

  .menu-open .menu__body {
    -webkit-transition: top 0.8s ease 0s;
    -o-transition: top 0.8s ease 0s;
    transition: top 0.8s ease 0s;
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.1875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5625rem;
    height: 1.125rem;
    z-index: 10;
    margin-right: 1.25rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #17253A;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4.5rem;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 3.8125rem;
  }

  .footer__logo-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.5625rem;
            flex: 0 0 5.5625rem;
  }

  .footer__info {
    text-align: center;
  }

  .footer__policy:not(:last-child) {
    margin-bottom: 2.125rem;
  }

  .social__icon {
    fill: #FFFFFF;
    stroke: #b6becf;
  }

  .hero::after {
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
        -ms-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
    top: 50%;
    left: -5%;
  }

  .hero__container::before,
  .hero__container::after {
    display: none;
  }

  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4.0625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__body::after {
    display: none;
  }

  .hero__content::before,
  .hero__content::after {
    display: none;
  }

  .hero__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-us {
    background: none;
  }

  .about-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 3.375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__button {
    text-align: center;
  }

  .services__container::before,
  .services__container::after {
    display: none;
  }

  .goal__container::after {
    display: none;
  }

  .contacts__container::before {
    display: none;
  }

  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.625rem;
  }

  .contacts__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .item-solution {
    padding: 1.5625rem;
  }

  .offer__container::before {
    bottom: -20%;
  }
}

@media (max-width: 31.25em) {
  .button {
    width: 100%;
  }

  .hero__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .offer__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 2rem , 2.1704545455rem  +  -0.2272727273vw , 2.125rem )) {
    .title {
      font-size: clamp( 2rem , 2.1704545455rem  +  -0.2272727273vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 2rem , 2.1704545455rem  +  -0.2272727273vw , 2.125rem )) {
    .title {
      font-size: calc(2.125rem + -0.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.25rem , 2.5909090909rem  +  -0.4545454545vw , 2.5rem )) {
    .title_main {
      font-size: clamp( 2.25rem , 2.5909090909rem  +  -0.4545454545vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.5909090909rem  +  -0.4545454545vw , 2.5rem )) {
    .title_main {
      font-size: calc(2.5rem + -0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.875rem , 4.1534090909rem  +  -1.7045454545vw , 3.8125rem )) {
    .footer {
      padding-top: clamp( 2.875rem , 4.1534090909rem  +  -1.7045454545vw , 3.8125rem );
    }
}

@supports not (padding-top: clamp( 2.875rem , 4.1534090909rem  +  -1.7045454545vw , 3.8125rem )) {
    .footer {
      padding-top: calc(3.8125rem + -0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.875rem , 5.0909090909rem  +  -2.9545454545vw , 4.5rem )) {
    .footer {
      padding-bottom: clamp( 2.875rem , 5.0909090909rem  +  -2.9545454545vw , 4.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.875rem , 5.0909090909rem  +  -2.9545454545vw , 4.5rem )) {
    .footer {
      padding-bottom: calc(4.5rem + -1.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3rem , 2.4545454545rem  +  2.7272727273vw , 4.5rem )) {
    .hero {
      padding-bottom: clamp( 3rem , 2.4545454545rem  +  2.7272727273vw , 4.5rem );
    }
}

@supports not (padding-bottom: clamp( 3rem , 2.4545454545rem  +  2.7272727273vw , 4.5rem )) {
    .hero {
      padding-bottom: calc(3rem + 1.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.375rem , 2.2840909091rem  +  0.4545454545vw , 2.625rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 2.375rem , 2.2840909091rem  +  0.4545454545vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.375rem , 2.2840909091rem  +  0.4545454545vw , 2.625rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(2.375rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .hero__actions:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .hero__actions:not(:last-child) {
      margin-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -3.318181733rem  +  16.5909089773vw , 9.125rem )) {
    .about-us {
      padding-top: clamp( 0.0000000625rem , -3.318181733rem  +  16.5909089773vw , 9.125rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -3.318181733rem  +  16.5909089773vw , 9.125rem )) {
    .about-us {
      padding-top: calc(0.0000000625rem + 9.1249999375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 4.25rem , 3.8409090909rem  +  2.0454545455vw , 5.375rem )) {
    .about-us__body {
      padding-bottom: clamp( 4.25rem , 3.8409090909rem  +  2.0454545455vw , 5.375rem );
    }
}

@supports not (padding-bottom: clamp( 4.25rem , 3.8409090909rem  +  2.0454545455vw , 5.375rem )) {
    .about-us__body {
      padding-bottom: calc(4.25rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 4.1875rem , 2.8011363636rem  +  6.9318181818vw , 8rem )) {
    .services {
      padding-top: clamp( 4.1875rem , 2.8011363636rem  +  6.9318181818vw , 8rem );
    }
}

@supports not (padding-top: clamp( 4.1875rem , 2.8011363636rem  +  6.9318181818vw , 8rem )) {
    .services {
      padding-top: calc(4.1875rem + 3.8125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 5.25rem , 3.9772727273rem  +  6.3636363636vw , 8.75rem )) {
    .services {
      padding-bottom: clamp( 5.25rem , 3.9772727273rem  +  6.3636363636vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 5.25rem , 3.9772727273rem  +  6.3636363636vw , 8.75rem )) {
    .services {
      padding-bottom: calc(5.25rem + 3.5 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem )) or (column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem ))) {
    .services__items {
      -webkit-column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem );
         -moz-column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem );
              column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem )) or (column-gap: clamp( 0.9375rem , -1.1079545455rem  +  10.2272727273vw , 6.5625rem ))) {
    .services__items {
      -webkit-column-gap: calc(0.9375rem + 5.625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 5.625 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 5.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 5.625rem , 4.4886363636rem  +  5.6818181818vw , 8.75rem )) {
    .solution {
      padding-top: clamp( 5.625rem , 4.4886363636rem  +  5.6818181818vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.4886363636rem  +  5.6818181818vw , 8.75rem )) {
    .solution {
      padding-top: calc(5.625rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 5.5rem , 4.7727272727rem  +  3.6363636364vw , 7.5rem )) {
    .solution__body {
      padding-bottom: clamp( 5.5rem , 4.7727272727rem  +  3.6363636364vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 5.5rem , 4.7727272727rem  +  3.6363636364vw , 7.5rem )) {
    .solution__body {
      padding-bottom: calc(5.5rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.7159090909rem  +  2.0454545455vw , 4.25rem )) {
    .solution__header:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 2.7159090909rem  +  2.0454545455vw , 4.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.7159090909rem  +  2.0454545455vw , 4.25rem )) {
    .solution__header:not(:last-child) {
      margin-bottom: calc(3.125rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem )) or (column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem ))) {
    .solution__items {
      -webkit-column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem );
         -moz-column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem );
              column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem )) or (column-gap: clamp( 1.875rem , 0.5568181818rem  +  6.5909090909vw , 5.5rem ))) {
    .solution__items {
      -webkit-column-gap: calc(1.875rem + 3.625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.875rem + 3.625 * (100vw - 20rem) / 55);
              column-gap: calc(1.875rem + 3.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 1.0852272727rem  +  -0.1136363636vw , 1.0625rem )) {
    .item-solution__text {
      font-size: clamp( 1rem , 1.0852272727rem  +  -0.1136363636vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 1rem , 1.0852272727rem  +  -0.1136363636vw , 1.0625rem )) {
    .item-solution__text {
      font-size: calc(1.0625rem + -0.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 4.1875rem , 1.7102272727rem  +  12.3863636364vw , 11rem )) {
    .goal {
      padding-top: clamp( 4.1875rem , 1.7102272727rem  +  12.3863636364vw , 11rem );
    }
}

@supports not (padding-top: clamp( 4.1875rem , 1.7102272727rem  +  12.3863636364vw , 11rem )) {
    .goal {
      padding-top: calc(4.1875rem + 6.8125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .goal__title:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .goal__title:not(:last-child) {
      margin-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 5rem , 6.7045454545rem  +  -2.2727272727vw , 6.25rem )) {
    .offer__container {
      padding-top: clamp( 5rem , 6.7045454545rem  +  -2.2727272727vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 5rem , 6.7045454545rem  +  -2.2727272727vw , 6.25rem )) {
    .offer__container {
      padding-top: calc(6.25rem + -1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 4.75rem , 18.0454545455rem  +  -17.7272727273vw , 14.5rem )) {
    .offer__container {
      padding-bottom: clamp( 4.75rem , 18.0454545455rem  +  -17.7272727273vw , 14.5rem );
    }
}

@supports not (padding-bottom: clamp( 4.75rem , 18.0454545455rem  +  -17.7272727273vw , 14.5rem )) {
    .offer__container {
      padding-bottom: calc(14.5rem + -9.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 1.1704545455rem  +  1.0227272727vw , 1.9375rem )) {
    .offer__title:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 1.1704545455rem  +  1.0227272727vw , 1.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 1.1704545455rem  +  1.0227272727vw , 1.9375rem )) {
    .offer__title:not(:last-child) {
      margin-bottom: calc(1.375rem + 0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.125rem , 3.4886363636rem  +  -1.8181818182vw , 3.125rem )) {
    .offer__text:not(:last-child) {
      margin-bottom: clamp( 2.125rem , 3.4886363636rem  +  -1.8181818182vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.125rem , 3.4886363636rem  +  -1.8181818182vw , 3.125rem )) {
    .offer__text:not(:last-child) {
      margin-bottom: calc(3.125rem + -1 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 4.875rem , 2.1931818182rem  +  13.4090909091vw , 12.25rem )) {
    .contacts__container {
      padding-top: clamp( 4.875rem , 2.1931818182rem  +  13.4090909091vw , 12.25rem );
    }
}

@supports not (padding-top: clamp( 4.875rem , 2.1931818182rem  +  13.4090909091vw , 12.25rem )) {
    .contacts__container {
      padding-top: calc(4.875rem + 7.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 4.8125rem , 3.8352272727rem  +  4.8863636364vw , 7.5rem )) {
    .contacts__container {
      padding-bottom: clamp( 4.8125rem , 3.8352272727rem  +  4.8863636364vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 4.8125rem , 3.8352272727rem  +  4.8863636364vw , 7.5rem )) {
    .contacts__container {
      padding-bottom: calc(4.8125rem + 2.6875 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 48em) and (max-width: 73.125em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem )) or (column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem );
         -moz-column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem );
              column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem )) or (column-gap: clamp( 0.9375rem , -7.5401119403rem  +  17.6616915423vw , 5.375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 25.125);
         -moz-column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 25.125);
              column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 25.125);
    }
}
}

@media (min-width: 62em) and (max-width: 73.125em) {
@supports ((-moz-column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem )) or (column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem ))) {
    .contacts__body {
      -webkit-column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem );
         -moz-column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem );
              column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem )) or (column-gap: clamp( 1.875rem , -67.0912921348rem  +  111.2359550562vw , 14.25rem ))) {
    .contacts__body {
      -webkit-column-gap: calc(1.875rem + 12.375 * (100vw - 62rem) / 11.125);
         -moz-column-gap: calc(1.875rem + 12.375 * (100vw - 62rem) / 11.125);
              column-gap: calc(1.875rem + 12.375 * (100vw - 62rem) / 11.125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: transparent;
    color: #599BFF;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .button_black:hover {
    color: #000000;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .button_invert-black:hover {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #000000;
    color: #FFFFFF;
  }

  .button_invert-white:hover {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #000000;
    border: 0.0625rem solid #000000;
    color: #FFFFFF;
  }

  .button_invert-blue:hover {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #FFFFFF;
    color: #2C6AC6;
  }

  .button_top:hover {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
    background-color: rgba(105, 165, 255, 0.7);
  }

  .menu__item:hover::before {
    width: 100%;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .footer__policy li:hover {
    text-decoration: none;
  }

  .social__icon:hover {
    fill: #FFFFFF;
    stroke: #b6becf;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .card-services:hover .card-services__icon {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }

  .item-solution:hover .item-solution__icon {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}

.webp .offer::after{ background: url(../img/offer/decor3.webp) 0 0 no-repeat; }

.webp .offer__container::before{ background: url(../img/offer/decor1.webp) 0 0 no-repeat; }

.webp .offer__container::after{ background: url(../img/offer/decor2.webp) 0 0 no-repeat; }